{% extends "base.html" %}

{% block conteudo %}
<div class="bloco cor">
  <main>
      <header>
      <div class="bolinha"></div>
      </header>
      <p class="titulo">Melancia</p>
      <div class="data_quantidade">
          <div class="quantidade">
              <p class="claro">Quantidade</p>
              <p>30</p>
          </div>
          <div class="data">
              <p class="claro">Data</p>
              <p>12/10/2024</p>
          </div>
      </div>
  </main>
</div> 
{%endblock%}